<% provide(:title, 'Result') %>
<div class="center hero-unit">
    <h1>Create Database SQL 作成くん：結果ヾ(´∀｀*) </h1>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- generator -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-6004984342861741"
     data-ad-slot="7259625202"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<ul class="nav nav-tabs">
    <li class="active"><a href="#MySQL" data-toggle="tab">MySQL</a></li>
    <li><a href="#PostgreSQL" data-toggle="tab">PostgreSQL</a></li>
    <!--<li><a href="#Oracle" data-toggle="tab">Oracle</a></li>-->
</ul>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="tab-content">
            <div class="tab-pane active fade in" id="MySQL">
                <h2>MySQL コマンド</h2>
<pre><code>-- データベースの作成
CREATE DATABASE <%= @db_commands.db_name %> CHARACTER SET utf8;
GRANT ALL ON <%= @db_commands.db_name %>.* TO '<%= @db_commands.db_user %>'@localhost IDENTIFIED BY '<%= @db_commands.db_pass %>';
FLUSH PRIVILEGES;

-- ほかのコマンド
CREATE TABLE tbl_name(
id MEDIUMINT AUTO_INCREMENT NOT NULL PRIMARY KEY,
col1 VARCHAR ( 256 ) default NULL,
col2 TEXT,
col3 TINYINT(1) default 0,
col4 DATETIME);

Insert INSERT INTO tbl_name (col1,col2) VALUES(15,col1*2);
Delete DELETE FROM tbl_name WHERE user = '<%= @db_commands.db_user %>'
Update UPDATE tbl_name SET col1 = col1 + 1;

ALTER TABLE tbl_name ADD col1;
ALTER TABLE tbl_name CHANGE col1;
ALTER TABLE tbl_name DROP col1;
</code></pre>
            </div>
            <div class="tab-pane fade" id="PostgreSQL">
                <h2>PostgreSQL コマンド</h2>

<pre><code>-- データベースの作成
CREATE USER <%= @db_commands.db_user %> WITH PASSWORD '<%= @db_commands.db_pass %>';
CREATE DATABASE <%= @db_commands.db_name %> ENCODING 'UTF8';
GRANT ALL PRIVILEGES ON DATABASE <%= @db_commands.db_name %> TO <%= @db_commands.db_user %>;

-- ほかのコマンド
CREATE TABLE tbl_name(
id BIGSERIAL PRIMARY KEY,
col1 VARCHAR ( 256 ) default NULL,
col2 TEXT,
col3 BOOLEAN default false,
col4 TIMESTAMP default NULL);

Insert INSERT INTO tbl_name (col1,col2) VALUES(15,col1*2);
Delete DELETE FROM tbl_name WHERE user = '<%= @db_commands.db_user %>'
Update UPDATE tbl_name SET col1 = col1 + 1;

ALTER TABLE tbl_name ADD COLUMN col1;
ALTER TABLE tbl_name ALTER COLUMN col1 TYPE varchar(80);
ALTER TABLE tbl_name DROP COLUMN col1;
</code></pre>
            </div>
            <div class="tab-pane fade" id="Oracle">
                <h2>Oracle コマンド</h2>
<!--<pre><code>-- データベースの作成-->
<!--CREATE DATABASE <%= @db_commands.db_name %> CHARACTER SET utf8;-->
<!--GRANT ALL ON <%= @db_commands.db_name %>.* TO '<%= @db_commands.db_user %>'@localhost IDENTIFIED BY '<%= @db_commands.db_pass %>';-->
<!--FLUSH PRIVILEGES;-->

    <!---- ほかのコマンド-->
<!--CREATE TABLE tbl_name(-->
<!--Id MEDIUMINT AUTO_INCREMENT NOT NULL PRIMARY KEY,-->
<!--col1 VARCHAR ( 256 ) default NULL,-->
<!--col2 TEXT,-->
<!--col3 tinyint(1) default 0,-->
<!--col4 DATETIME);-->

<!--Insert INSERT INTO tbl_name (col1,col2) VALUES(15,col1*2);-->
<!--Delete DELETE FROM tbl_name WHERE user = 'jcole'-->
<!--Update UPDATE tbl_name SET col1 = col1 + 1;-->

<!--ALTER TABLE tbl_name ADD col1;-->
<!--ALTER TABLE tbl_name CHANGE col1;-->
<!--ALTER TABLE tbl_name DROP col1;-->
<!--</code></pre>-->
            </div>
        </div>
    </div>
</div>
